.loginRegisterContainer {
  background-color: color-mix(in srgb, var(--near-black) 95%, transparent);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--popup-border-radius);
  width: clamp(400px, 50%, 1000px);
  padding: 30px;
  margin-top: 2rem;
  z-index: 2;
}

.title {
  color: rgb(141, 255, 137);
  font-size: 6rem;
  margin-bottom: 1rem;
}

.subTitle {
  /* font-size: clamp(2rem, 4vw, 2.5rem); */
  font-size: 2rem;
}

.formContainer {
  margin-top: 1rem;
}

.loginRegisterForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submitButton {
  background-color: var(--action-button-enabled);
}

.submitButton:focus,
.submitButton:hover {
  background-color: var(--action-button-active);
}

.submitButton.disabled {
  background-color: lightgray !important;
  color: gray !important;
}

.submitButton.disabled:hover {
  border-color: transparent !important;
  cursor: unset !important;
}

.submitButton:focus-visible {
  outline-offset: var(--outline-offset-1);
}

.loginButton:active,
.submitButton:active {
  background-color: whitesmoke;
  color: black;
}

.loginContainer {
  padding: 30px;
  opacity: 0.9;
}

.loginField {
  background-color: var(--black);
  color: whitesmoke !important;
  margin: var(--margin-text-input-1);
  padding: var(--padding-text-input-1);
  border-radius: var(--text-input-border-radius);
}

.loginField:focus {
  background-color: rgb(45, 45, 45);
}

.loginFieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.loginButton:hover {
  background-color: #add8e6;
  color: black;
}
.loginButton {
  background-color: rgb(98, 129, 139);
  color: whitesmoke;
}

@media (max-width: 1199px) {
  .title {
    font-size: 5rem;
  }
  .subTitle {
    font-size: 1.75rem;
  }

  .loginRegisterContainer {
    width: 575px;
  }

  .loginField {
    font-size: 1rem;
  }

  .submitButton {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

@media (max-width: 848px) {
  .loginPopup {
    width: 75%;
  }
}

@media (max-width: 753px) {
  .loginPopup {
    width: 80%;
  }
  .loginRegisterContainer {
    width: 85%;
  }
  .title {
    font-size: 4.5rem;
  }
  .subTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 3rem;
  }
  .subTitle {
    font-size: 1rem;
  }
}
