.registerButton {
  background-color: lightgray;
  font-size: 16pt;
  font-family: "Oswald";
  color: black;
  border-radius: 10px;
  padding: 10px;
  height: 60px;
  width: 140px;
  transition: background-color 150ms ease-out;
  font-weight: 600;
  text-transform: uppercase;
}

.registerButton.enabled {
  background-color: var(--button-active);
  color: black;
}

.registerButton.enabled:hover {
  background-color: green;
  color: white;
}
