.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
  object-position: center;
}

div.pageLevelError {
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: var(--other);
  margin: var(--margin-standard-1);
  padding: var(--padding-standard-1);
}

p.pageLevelErrorText {
  font-size: 1.5rem;
  margin: var(--margin-standard-1);
  padding: var(--padding-standard-1);
}
