@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkGray: #1f2421;
  --black: rgb(10, 10, 10);

  --upper-body: #00af54;
  --lower-body: #007cbe;
  --core: #ffd639;
  --cardio: #ffa3af;
  --other: #712f79;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: black;
}

.splash-container {
  background-image: url("/bg3.jpg");
  background-size: cover;
  background-position: center;
}

div.image-container-coming-soon {
  display: flex;
  justify-content: center;
  margin: 0 30px;
  padding: 0 30px;
}

span.coming-soon {
  display: flex;
  justify-content: center;
  font-family: "Tourney";
  margin: 50px;
  font-size: 4em;
}

.coming-soon-img {
  border-radius: 20px;
}

button.disabled {
  background-color: lightgray !important;
  color: darkgray !important;
}

button.disabled:hover {
  border-color: transparent !important;
  cursor: unset !important;
}

.footer-link {
  border-right: 1px solid whitesmoke;
  border-radius: 10px;
  color: whitesmoke;
  @apply flex items-center
  justify-center
  hover:text-blue-300
  hover:underline
  text-[12pt]
  md:text-[14pt]
  lg:text-[16pt]
  m-1
  pr-6
  pl-4
  font-light;
}

.dashboard-link {
  @apply text-[12pt]
  md:text-[14pt]
  lg:text-[16pt];
}

h1.page-header {
  font-size: 28pt;
  font-family: "Oswald";
}

div.popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  justify-content: space-between;
  z-index: 100;
}

div.popup-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 100px; */
  height: 100%;
}

div.popup-header-container {
  display: flex;
  flex-direction: column;
}

div.popup-footer button {
  font-size: 14pt;
  border-radius: 10px;
  width: 150px;
  height: 75px;
  font-weight: 600;
}

button#cancel-button {
  color: whitesmoke;
  font-size: 26pt;
  position: absolute;
  top: 20px;
  right: 20px;
}

button#cancel-button:hover {
  background-color: #bb54a1;
  /* padding: 5px; */
  border-radius: 10px;
  color: whitesmoke;
}

h2.popup-header {
  font-family: "oswald";
  font-size: 32pt;
}

footer.footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 20px;
}

.exe-tooltip {
  background-color: lightgray;
  color: black;
  /* border: 3px solid black; */
  border-radius: 10px;
  padding: 10px;
}

.exe-tooltip .intro {
  color: darkblue;
}

.exercise-card .recharts-responsive-container {
  padding: 15px 20px 15px 10px;
  font-size: 10pt;
}

.chart-skeleton,
.set-list-skeleton {
  display: flex;
  flex-direction: column;
  /* background-color: var(--darkGray); */
  background-color: rgb(68, 68, 68);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  @apply animate-pulse;
  justify-content: space-evenly;
  padding: 0 25px;
}

.set-list-skeleton {
}

.skeleton-row {
  border-bottom: 5px solid rgb(64, 64, 64);
}

#history-page,
#exercises-page,
#new-workout-page,
#charts-page,
#settings-page,
#profile-page,
.dashboard-body {
  padding: 20px;
}

/** REGISTRATION */
div.non-dash-page {
  padding: 30px;
}

div.non-dash-page div.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div.non-dash-page div.header h1 {
  font-family: "Oswald";
  font-size: 44pt;
}

div.registration-body {
  background-color: #1f2421;
  border-radius: 20px;
  padding: 30px;
  justify-self: center;
  margin: 30px;
}

div.registration-body div.body-header {
  margin: 0 0 20px 0;
  padding: 20px;
  border-bottom: 1px solid whitesmoke;
}

div.non-dash-page {
  height: 95vh;
}

div.registration-body li {
  list-style: disc;
}

div.registration-form-module div.module-label span {
  font-size: 18pt;
}

div.registration-form-module div.module-label {
  /* margin: 10px 0 5px 0; */
}

div.registration-form-module input {
  font-size: 18pt;
  padding: 10px;
  border-radius: 10px;
}

div.registration-form-module {
  margin: 15px;
}

p.field-subtitle {
  margin: 5px 0 10px 0;
}

button.register-button,
button.popup-button#submit-button {
  background-color: lightgray;
  font-size: 16pt;
  color: darkgray;
  border-radius: 10px;
  padding: 10px;
  height: 80px;
  width: 200px;
  transition: background-color 150ms ease-out;
}
button.register-button.active {
  background-color: green;
  color: white;
}

div.registration-footer {
  display: flex;
  padding: 20px;
  justify-content: center;
}

p.field-subtitle {
  font-size: 10pt;
  font-style: italic;
  height: 20px;
}















/** NEW SET */
form#new-set-form {
  border-radius: 10px;
  background-color: var(--darkGray);
  padding: 0 30px 20px 30px;
  width: fit-content;
}

div.new-workout-form-container {
  display: flex;
  justify-content: center;
}

.new-workout-field {
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
  font-size: 18pt;
  margin: 10px;
  /* width: 95%; */
}

select.new-workout-field[name="exercise"] {
  padding-right: 40px;
}

input[type="date"] {
  padding: 20px;
}

.form-xl-row#weight-reps {
  display: flex;
  justify-content: space-between;
}

.form-xl-row#footer {
  display: flex;
  justify-content: center;
}

button#submit-button.active {
  background-color: #add989;
  color: black;
  font-size: 16pt;
}

button#submit-button.active:hover {
  background-color: #35a031;
  color: whitesmoke;
}

button#submit-button.active:active {
  background-color: whitesmoke;
  color: black;
}

button.new-workout-button {
  background-color: lightgray;
  color: darkgray;
  border-radius: 15px;
  font-weight: 600;
  width: 200px;
  height: 80px;
  font-size: 16pt;
  padding: 15px 20px;
  justify-self: center;
  transition: background-color 150ms ease-out;
  -webkit-transition: background-color 150ms ease-out;
  -ms-transition: background-color 150ms ease-out;
  -o-transition: background-color 150ms ease-out;
  -ms-transition: background-color 150ms ease-out;
}

button.new-workout-button.active {
  background-color: rgb(0, 128, 0);
  color: whitesmoke;
}

button.new-workout-button.active:hover {
  /* background-color: rgba(0, 128, 64, 0.5); */
  border: 2px solid whitesmoke;
}

button.new-workout-button.active:active {
  background-color: whitesmoke;
  color: black;
}

select.new-workout-field {
  padding: 20px;
  appearance: none; /* Removes default styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  width: 100%;
  cursor: pointer;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="black"><path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 22pt;
  max-width: 50vw;
}

option {
  /* color:black; */
}

#new-set-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input#input-weight,
input#input-reps {
  padding: 20px;
}

input#input-weight {
  width: 250px;
}

input#input-reps {
  width: 125px;
}

div.form-xl-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 20px 0;
}

@media (min-width: 1700px) {
  #new-set-form {
    display: flex;
    padding: 10px;
    align-items: center;
    max-width: 1600px;
    flex-direction: column;
  }

  button.new-workout-button {
    width: 250px;
    height: 100px;
    margin: 30px 15px;
    /* font-size: 22pt; */
  }

  button.new-workout-button.active:hover {
    border: 3px solid whitesmoke;
  }

  select.new-workout-field {
    width: 100%;
    /* font-size: 24pt; */
    /* padding: 0 20px; */
  }
  div.form-xxl-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  input#input-weight {
    width: 250px;
    /* font-size: 26pt; */
    /* padding: 0 30px; */
  }
  input#input-reps {
    /* font-size: 26pt; */
    /* padding: 0 20px; */
    width: 200px;
  }
}

/** Exercises Page */
div.exercises-legend {
  margin: 5px 0;
}

div.exe-header .header-left {
  margin-right: 20px;
}

.exe-header {
  display: flex;
  /* flex-direction: column; */
  align-items: space-between;
  height: 100px;
}

li.exercise-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin: 15px;
  cursor: pointer;
  border: 3px solid transparent;
  transition:
    border 300ms ease,
    width 300ms ease,
    height 300ms ease;
}

li.exercise-card.active {
  width: 630px;
  /* height: 330px; */
  /* flex-direction: row; */
  z-index: 10;
}

div.exe-card-top {
  max-height: 164px;
}

div.exe-card-left {
  width: 264px;
}

li.exercise-card.active.expand2 {
  height: 630px;
}

div.expanded-lvl-1 {
  min-width: 50%;
  max-width: 75%;
  padding-left: 15px;
}

div.expanded-lvl-1 ul {
}

div.expanded-lvl-1 li {
  width: fit-content;
}

div.lvl-1-exe-data {
  background-color: var(--darkGray);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  /* max-height: 100%; */
  height: 100%;
  width: auto;
  font-size: 12pt;
}

div.lvl-1-exe-data span {
  letter-spacing: 1.25;
}

.exercise-placeholder {
  position: fixed;
  visibility: hidden;
  border-radius: 10px;
  width: 300px;
  margin: 15px;
  height: 150px;
  transition: all 0.3s ease-in-out;
}

.hidden-placeholder.expanded {
  z-index: 5;
}

.exercise-card:hover {
  border: 3px solid whitesmoke;
}

.exercise-card:active {
  /* border: 3px solid gray; */
  /* background-color: whitesmoke; */
  /* color: black; */
}

.exercise-card.active:hover {
  border-color: transparent;
}

.exercises-ul {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

h2.exercise-list {
  font-size: 28pt;
  font-family: "oswald";
  line-height: 1.25;
}

div.exe-card-left {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

input.exe-search {
  border-radius: 7px;
  color: black;
  max-height: 60px;
}

div.exercises-legend {
  display: flex;
  max-width: 900px;
  min-width: 600px;
  justify-content: space-around;
  margin: 15px 0;
}

div.exercises-legend-filter {
  display: flex;
  padding: 5px 15px;
  cursor: pointer;
  align-items: center;
  font-size: 1em;
}
div.exercises-legend-filter:hover {
  /* text-decoration: overline; */
  border-radius: 5px;
  background-color: rgb(56, 56, 56);
}
div.exercises-legend-filter:active,
div.exercises-legend-filter.active {
  border-radius: 5px;
  background-color: darkgray;
  color: black;
}

div.exercises-legend-square {
  background-color: whitesmoke;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  margin: 5px;
}

h2.new-exercise-button-header {
  font-size: 32pt;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Tourney";
}

li.upper-body,
div#upper-body-square {
  background-color: #00af54;
}
li.lower-body,
div#lower-body-square {
  background-color: #007cbe;
}
li.core,
div#core-square {
  background-color: #ffd639;
  color: black;
}
li.cardio,
div#cardio-square {
  background-color: #ffa3af;
  color: black;
}
li.other,
div#other-square {
  background-color: #712f79;
  color: whitesmoke;
}
div#all-square {
  /* background-color: rgb(10,10,10); */
  /* border: 1px solid whitesmoke; */
  background: whitesmoke;
}
div#all-legend.active {
  background-color: unset;
  color: whitesmoke;
}

div#new-exercise-popup {
  padding: 30px;
  top: 20%;
  left: 33%;
  background-color: #1f2421;
  width: 650px;
  height: 325px;
  border-radius: 20px;
  /* border: 3px solid whitesmoke; */
  filter: drop-shadow(20px 20px 10px #0000009f);
}

#new-workout-popup {
  height: max-content;
  width: max-content;
  top: 20%;
  left: 33%;
  background-color: #1f2421;
  border-radius: 20px;
  filter: drop-shadow(20px 20px 10px #0000009f);
}

input.new-exercise-name {
  font-size: 16pt;
  color: black;
  padding: 10px 15px;
  margin: 15px 0;
  width: 80%;
  border-radius: 7px;
}

div.expansion-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button.click-for-more,
button.direct-log {
  background-color: var(--darkGray);
  width: 120px;
  font-size: 12pt;
  border-radius: 10px;
  padding: 5px;
  transition: border 300ms ease;
  border: 2px solid transparent;
  color: whitesmoke;
}

button.click-for-more:hover,
button.direct-log:hover {
  border: 2px solid white;
}

div.exe-card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

div.exe-card-bottom-body {
  /* padding: 20px; */
  height: 95%;
  width: 100%;
}

div.greater-chart-area {
  background-color: var(--darkGray);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

div.exe-card-top {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.exe-card-bottom-header {
  display: none;
}











/** WORKOUT HISTORY */
#history-page h1.page-header {
  display: inline-flex;
  margin-right: 30px;
}

#history-page .page-header {
  display: flex;
  align-items: center;
}

div.timeframe-filter {
  margin: 30px 0 10px 0;
}

label.timeframe {
  margin: 10px 10px 10px 0;
}

span.timeframe {
  margin: 10px;
}

ul.history {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

li.workout-card {
  position: relative;
  background-color: var(--darkGray);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 514px;
  height: 275px;
  margin: 15px;
}

div.workout-card-header span.day {
  font-family: "Oswald";
  font-size: 24pt;
}

div.workout-card-header span.date {
  font-size: 14pt;
}

.workout-card-exe-name {
  color: lightgoldenrodyellow;
  font-size: 14pt;
}

div.workout-card-glance-body {
  /* background-color: var(--darkGray); */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

div.workout-card-glance-body ul {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  flex-wrap: wrap;
  /* height: 100%; */
  height: 100%;
  margin: 2px;
}

div.workout-card-glance-body ul li {
  display: flex;
  margin: 4px;
  /* font-weight: normal; */
}

.glance-exe {
  display: flex;
  flex-wrap: wrap;
  width: 152px;
  border-radius: 5px;
  font-size: 16px;
  height: 89px;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 300ms ease;
}

.glance-exe:hover {
  border: 2px solid whitesmoke;
}

button.pagination {
  width: 100px;
}

span.nav-readout {
  display: flex;
  align-items: center;
  margin: 5px;
}

li.workout.skeleton {
  display: flex;
  border-radius: 10px;
  background-color: black;
  width: 514px;
  height: 275px;
  margin: 15px;
}

.exe-card-exe-container {
  margin-bottom: 10px;
}

.workout-detail-exercise-set {
  display: flex;
}

.exe-card-set {
  font-size: 12pt;
  letter-spacing: 1.25;
}

span.order {
  color: lightgray;
  padding-right: 10px;
}

.workout-card-details-body {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  max-height: 185px;
  padding: 10px;
  margin-top: 10px;
}

.workout-card-details-body #cancel-button {
  top: 5px;
  right: 5px;
}


ul.workout-detail-exercise-sets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 80%;
}

li.set {
  display: flex;
  width: 50%;
  font-size: 12pt;
  padding: 2px 0 0 5px;
  /* border: 1px solid white !important; */
}

li.set span.unit,
span.set-weight,
span.set-reps,
span.x {
  margin-right: 6px;
  letter-spacing: 1.25;
}

li.set span.unit {
  color: lightgray;
}


span.set-order {
  margin-right: 12px;
}


span.set-order {
  color: lightcyan;
}

span.exercise-name {
  font-size: 14pt;
  font-style: italic;
  margin-bottom: 5px;
}














/** DASHBOARD */
#dashboard-page {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

header.nav-header {
  background-color: var(--darkGray);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 20px 20px;
  height: 65px;
}
div.dashboard-body {
  height: calc(100vh - 65px);
  background-image: url("/bg5.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  top: 0;
  left: 0;
  /* height: 100%; */
}

@media (max-aspect-ratio: 1/1) {
  /* Styles for portrait mode */
  div.dashboard-body {
    background-size: cover; /* Example: Adjust background for portrait */
    height: 100%;
  }
}

div.dashboard-card {
  background-color: rgba(10, 10, 10, 0.8);
  display: flex;
  flex-direction: column;
  width: 365px;
  height: 225px;
  border-radius: 10px;
  /* border: 3px solid whitesmoke; */
  border: 3px solid rgb(195, 250, 237);
  position: relative;
}

header.dashboard-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  /* background-color: whitesmoke; */
  background-color: rgb(195, 250, 237);
  color: black;
}

.dashboard-card-icon {
  font-size: 16pt;
}

header.dashboard-card h3 {
  padding: 5px 10px;
  font-weight: 600;
  font-size: 14pt;
}

.dashboard-card-body {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dashboard-card-value-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

span.dashboard-card-value {
  width: fit-content;
  text-align: center;
  font-family: "oswald";
  font-size: calc(3rem - 0.03rem * var(--char-count));
}

.dashboard-card-desc-container {
  display: flex;
  width: 100%;
  bottom: 0;
  padding: 2px 5px;
  justify-content: center;
  text-align: center;
}

ul.dashboard-list {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

li.dashboard-list {
  margin: 10px;
}

#logged-workouts {
  font-size: 5em;
}

div#about-page header {
  padding: 25px 50px;
}

div#about-page header h1 {
  display: inline;
}

span.app-name {
  font-family: "Tourney" !important;
  font-size: 1.25em;
}

/* * ABOUT PAGE */
div#about-page {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: "cover";
  background-position: "left";
}

#about-page header {
  background-color: rgb(10, 10, 10);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
}

div.about-body {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
  width: 400vw;
}

div.about-body-skeleton {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 400vw;
}

.parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw;
  height: 100vh;
  background-image: url("/bg1.jpg");
  background-size: 120% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -10;
}

.about-track {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

div.about-track-skeleton {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.about-body .img-app-window,
.about-body .img-notes-app {
  margin: 40px;
}

span.leading-text {
  font-size: 2em;
}

div.about-body ul.about-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px;
}

div.about-body ul.about-list li {
  /* list-style: disc; */
  list-style: none;
  margin-bottom: 20px;
}

.ul-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 18pt;
}

div.about-section {
  display: flex;
  background-color: rgba(10, 10, 10, 0.9);
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
  /* padding: 50px; */
  margin: 20px;
  font-size: 1.25em;
}

div.about-section-skeleton {
  display: flex;
  background-color: rgba(10, 10, 10, 0.9);
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
  padding: 50px;
  margin: 20px;
  font-size: 1.25em;
}

.about-li-lead {
  /* font-weight: bold; */
  text-transform: uppercase;
  display: block;
  text-decoration: underline;
  color: lightcyan;
}

#p1 {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

#p1 .left {
  display: flex;
  align-items: center;
  width: 110%;
  padding: 50px;
  line-height: 1.75;
  font-size: 18pt;
}

#p1 .left p {
  /* display: flex; */
}

#p1 .right {
  display: flex;
  width: 105%;
  padding: 20px;
}

#p1 .right ul {
  display: flex;
}

.p-lead {
  color: deeppink;
  /* display: flex; */
}

#p2 .body,
#p5 .body {
  display: flex;
  /* padding: 25px 50px; */
  padding: 0 25px;
  font-size: 18pt;
}

#p2 ul {
  font-size: 16pt;
}

#p3 .left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 18pt;
  width: 50%;
  line-height: 2;
}

#p3 .right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 50%;
}

#p4 .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 25px 50px;
  font-size: 18pt;
  line-height: 2;
}

#p4 .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.nav-arrow-right {
  font-size: 2em;
  position: absolute;
  right: 20px;
  bottom: 0;
}

.nav-arrow-left {
  font-size: 2em;
  position: absolute;
  left: 20px;
  bottom: 0;
}

#p5 .body {
  display: flex;
  flex-direction: column;
  line-height: 2;
  padding: 100px;
  height: 100%;
  justify-content: space-between;
}

#new-workout-popup h2 {
  font-family: "oswald";
  font-size: 32pt;
  padding: 30px;
}

#new-set-form.xxl {
  padding: 30px;
  margin-top: 30px;
}








.lower-body {
  background-color: var(--lower-body);
}
.upper-body {
  background-color: var(--upper-body);
}
.core {
  background-color: var(--core);
  color: black;
}
.core span.set-order,
.core span.unit,
.core span.x,
.cardio span.unit,
.cardio span.x,
.cardio span.set-order {
  color: var(--darkGray) !important;
}
.cardio {
  background-color: var(--cardio);
  color: black;
}
.other {
  background-color: var(--other);
}

.core #cancel-button,
.cardio #cancel-button {
  color: rgb(10, 10, 10);
}











/** SETTINGS */
#settings-page {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  position: relative;
}

div.settings-body {
  display: flex;
  /* flex-direction: column; */
  flex: 1;
  padding: 50px;
}

div.settings-module {
  background-color: var(--darkGray);
  position: relative;
  width: 50%;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  min-height: 125px;
  max-height: max-content;
}

div.settings-footer {
  display: flex;
  margin-top: auto;
}

div.settings-module-header h2 {
  text-transform: uppercase;
  color: lightcyan;
  font-size: 18pt;
}

span.app-signature {
  font-size: 12pt;
  font-family: monospace;
}

div.toggle-slider {
  /* display: flex; */
  /* width: 100px; */
}

div.theme-selection-container,
div.units-selection-container {
  display: flex;
  align-items: center;
  margin: 5px;
}

span.option-text {
  margin: 0 10px;
  font-size: 16pt;
}

p.coming-soon {
  font-style: italic;
  position: absolute;
  top: 25px;
  right: 75px;
}


/* 
html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body {
  overflow-y: visible;
  position: relative;
  height: unset;
}
html, body {
  overflow-x: scroll;
  margin: 0;
} */

* {
  /* border: 1px solid red; */
}
