@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkGray: #1f2421;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: black;
}

div.image-container-coming-soon {
  display: flex;
  justify-content: center;
  margin: 0 30px;
  padding: 0 30px;
}

span.coming-soon {
  display: flex;
  justify-content: center;
  font-family: 'Tourney';
  margin: 50px;
  font-size: 4em;
}

.coming-soon-img {
  border-radius: 20px;
}

button.disabled {
  background-color: lightgray !important;
  color: darkgray !important;
}

button.disabled:hover {
  border-color: transparent !important;
  cursor: unset !important;
}

.footer-link {
  border-right: 1px solid whitesmoke;
  border-radius: 10px;
  color: whitesmoke;
  @apply flex items-center
  justify-center
  hover:text-blue-300
  hover:underline
  text-[12pt]
  md:text-[14pt]
  lg:text-[16pt]
  m-1
  pr-6
  pl-4
  font-light
}

.dashboard-link {
  @apply
  text-[12pt]
  md:text-[14pt]
  lg:text-[16pt]
}

h1.page-header {
  font-size: 28pt;
  font-family: "Oswald";
}

div.popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  justify-content: space-between;
  z-index: 100;
}

div.popup-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 100px; */
  height: 100%;
}

div.popup-header-container {
  display: flex;
  flex-direction: column;
}

div.popup-footer button {
  font-size: 14pt;
  border-radius: 10px;
  width: 150px;
  height: 75px;
  font-weight: 600;
}

button#cancel-button {
  color: whitesmoke;
  font-size: 26pt;
  position: absolute;
  top: 20px;
  right: 20px;
}

button#cancel-button:hover {
  background-color: #bb54a1;
  /* padding: 5px; */
  border-radius: 10px;
  color: whitesmoke;
}

h2.popup-header {
  font-family: "oswald";
  font-size: 32pt;
}

footer.footer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.exe-tooltip {
  background-color: lightgray;
  color: black;
  /* border: 3px solid black; */
  border-radius: 10px;
  padding: 10px;
}

.exe-tooltip .intro {
  color: darkblue;
}

.exercise-card .recharts-responsive-container {
  padding: 15px 20px 15px 10px;
  font-size: 10pt;
}







/** REGISTRATION */
div.non-dash-page {
  padding: 30px;
}

div.non-dash-page div.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div.non-dash-page div.header h1 {
  font-family: "Oswald";
  font-size: 44pt;
}

div.registration-body {
  background-color: #1f2421;
  border-radius: 20px;
  padding: 30px;
  justify-self: center;
  margin: 30px;
}

div.registration-body div.body-header {
  margin: 0 0 20px 0;
  padding: 20px;
  border-bottom: 1px solid whitesmoke;
}

div.non-dash-page {
  height: 95vh;
}

div.registration-body li {
  list-style: disc;
}

div.registration-form-module  div.module-label span {
  font-size: 18pt;
}

div.registration-form-module  div.module-label {
  /* margin: 10px 0 5px 0; */
}

div.registration-form-module input {
  font-size: 18pt;
  padding: 10px;
  border-radius: 10px;
}

div.registration-form-module {
  margin: 15px;
}

p.field-subtitle {
  margin: 5px 0 10px 0;
}

button.register-button,
button.popup-button#submit-button {
  background-color: lightgray;
  font-size: 16pt;
  color: darkgray;
  border-radius: 10px;
  padding: 10px;
  height: 80px;
  width: 200px;
  transition: background-color 150ms ease-out;
}
button.register-button.active {
  background-color: green;
  color: white;
}

div.registration-footer {
  display: flex;
  padding: 20px;
  justify-content: center;
}

p.field-subtitle {
  font-size: 10pt;
  font-style: italic;
  height: 20px;
}







/** NEW SET */
form#new-set-form {
  border-radius: 10px;
  background-color: var(--darkGray);
  padding: 35px;
  margin-top: 30px;
  width: fit-content;
}

div.new-workout-form-container {
  display: flex;
  justify-content: center;
}

.new-workout-field {
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
  font-size: 18pt;
  margin: 10px;
  /* width: 95%; */
}

select.new-workout-field[name='exercise'] {
  padding-right: 40px;
}

input[type='date'] {
  padding: 20px;
}

.form-xl-row#weight-reps {
  display: flex;
  justify-content: space-between;
}

.form-xl-row#footer {
  display: flex;
  justify-content: center;
}

button#submit-button.active {
  background-color: #ADD989;
  color: black;
  font-size: 16pt;
}

button#submit-button.active:hover {
  background-color: #35a031;
  color: whitesmoke;
}

button#submit-button.active:active {
  background-color: whitesmoke;
  color: black;
}



button.new-workout-button {
  background-color: lightgray;
  color: darkgray;
  border-radius: 15px;
  font-weight: 600;
  width: 200px;
  height: 80px;
  font-size: 16pt;
  margin: 30px 10px;
  padding: 15px 20px;
  justify-self: center;
  transition: background-color 150ms ease-out;
  -webkit-transition: background-color 150ms ease-out;
  -ms-transition: background-color 150ms ease-out;
  -o-transition: background-color 150ms ease-out;
  -ms-transition: background-color 150ms ease-out;}

button.new-workout-button.active {
  background-color: rgb(0, 128, 0);
  color: whitesmoke;
}

button.new-workout-button.active:hover {
  /* background-color: rgba(0, 128, 64, 0.5); */
  border: 2px solid whitesmoke;
}

button.new-workout-button.active:active {
  background-color: whitesmoke;
  color: black;
}

select.new-workout-field {
  padding: 20px;
  appearance: none; /* Removes default styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  width: 100%;
  cursor: pointer;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="black"><path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 22pt;
  max-width: 50vw;
}

option {
  /* color:black; */
}

#new-set-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input#input-weight,
input#input-reps {
  padding: 20px;
}

input#input-weight {
  width: 250px;
}

input#input-reps {
  width: 125px;
}

div.form-xl-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 20px 0;
}

@media (min-width: 1700px) { 
  #new-set-form {
    display: flex;
    padding: 10px;
    align-items: center;
    max-width: 1600px;
    flex-direction: column;
  }

  button.new-workout-button {
    width: 250px;
    height: 100px;
    margin: 30px 15px;
    font-size: 22pt;
  }

  button.new-workout-button.active:hover {
    border: 3px solid whitesmoke;
  }

  select.new-workout-field {
    width: 100%;
    font-size: 24pt;
    padding: 0 20px;
  }
  div.form-xxl-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  input#input-weight {
    width: 250px;
    font-size: 26pt;
    padding: 0 30px;
  }
  input#input-reps {
    font-size: 26pt;
    padding: 0 20px;
    width: 200px;
  }
}








/** Exercises Page */
div.exercises-legend {
  margin: 5px 0;
}

.exe-header {
  display: flex;
  /* flex-direction: column; */
  align-items: space-between;
  height: 100px;
}

li.exercise-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin: 15px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: border 300ms ease,
              width 300ms ease,
              height 300ms ease;
}

li.exercise-card.active {
  width: 630px;
  /* height: 330px; */
  /* flex-direction: row; */
  z-index: 10;
}

div.exe-card-top {
  max-height: 164px;
}

div.exe-card-left {
  width: 264px;
}


li.exercise-card.active.expand2 {
  height: 630px;
}

div.expanded-lvl-1 {
  min-width: 50%;
  max-width: 75%;
  padding-left: 15px;
}

div.expanded-lvl-1 ul {}

div.expanded-lvl-1 li {
  width: fit-content;
}

div.lvl-1-exe-data {
  background-color: var(--darkGray);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  /* max-height: 100%; */
  height: 100%;
  width: auto;
  font-size: 12pt;
}

div.lvl-1-exe-data span {
  letter-spacing: 1.25;
}


.exercise-placeholder {
  position: fixed;
  visibility: hidden;
  border-radius: 10px;
  width: 300px;
  margin: 15px;
  height: 150px;
  transition: all 0.3s ease-in-out;
}

.hidden-placeholder.expanded {
  z-index: 5;
}

.exercise-card:hover {
  border: 3px solid whitesmoke;
}

.exercise-card:active {
  /* border: 3px solid gray; */
  /* background-color: whitesmoke; */
  /* color: black; */
}

.exercise-card.active:hover {
  border-color: transparent;
}

.exercises-ul {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

h2.exercise-list {
  font-size: 28pt;
  font-family: "oswald";
  line-height: 1.25;
}

div.exe-card-left {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

input.exe-search {
  border-radius: 7px;
  color: black;
  max-height: 60px;
}

div.exercises-legend {
  display: flex;
  max-width: 900px;
  min-width: 600px;
  justify-content: space-around;
  margin: 15px 0;
}

div.exercises-legend-filter {
  display: flex;
  padding: 5px 15px;
  cursor: pointer;
  align-items: center;
  font-size: 1em;
}
div.exercises-legend-filter:hover {
  /* text-decoration: overline; */
  border-radius: 5px;
  background-color: rgb(56, 56, 56);
}
div.exercises-legend-filter:active,
div.exercises-legend-filter.active {
  border-radius: 5px;
  background-color: darkgray;
  color: black;
}

div.exercises-legend-square {
  background-color: whitesmoke;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  margin: 5px;
}

h2.new-exercise-button-header {
  font-size: 32pt;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Tourney";
}

li.upper-body,
div#upper-body-square {
  background-color: #00AF54;
}
li.lower-body,
div#lower-body-square {
  background-color: #007CBE;
}
li.core,
div#core-square {
  background-color: #FFD639;
  color: black;
}
li.cardio,
div#cardio-square {
  background-color: #FFA3AF;
  color: black;
}
li.other,
div#other-square {
  background-color: #712F79;
  color: whitesmoke;
}
div#all-square {
  /* background-color: rgb(10,10,10); */
  /* border: 1px solid whitesmoke; */
  background: whitesmoke;
}
div#all-legend.active {
  background-color: unset;
  color: whitesmoke;
}

div#new-exercise-popup {
  padding: 30px;
  top: 20%;
  left: 33%;
  background-color: #1f2421;
  width: 650px;
  height: 325px;
  border-radius: 20px;
  /* border: 3px solid whitesmoke; */
  filter: drop-shadow(20px 20px 10px #0000009f);
}

input.new-exercise-name {
  font-size: 16pt;
  color: black;
  padding: 10px 15px;
  margin: 15px 0;
  width: 80%;
  border-radius: 7px;
}

div.expansion-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.click-for-more {
  background-color: var(--darkGray);
  width: 120px;
  font-size: 12pt;
  border-radius: 10px;
  padding: 5px;
  transition: border 300ms ease;
  border: 2px solid transparent;
  color: whitesmoke;
}

button.click-for-more:hover {
  border: 2px solid white;
}

div.exe-card-bottom{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

div.exe-card-bottom-body {
  /* padding: 20px; */
  height: 90%;
  width: 100%;
}

div.greater-chart-area {
  background-color: var(--darkGray);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

div.exe-card-top {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}






/** WORKOUT HISTORY */
div.timeframe-filter {
  margin: 30px 0 10px 0;
}

label.timeframe {
  margin: 10px 10px 10px 0;
}

span.timeframe {
  margin: 10px;
}

ul.history {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

li.workout {
  background-color: #007cbe;
  cursor: pointer;
  color: whitesmoke;
  font-size: 16pt;
  padding: 15px;
  margin: 20px;
  /* border: 2px solid whitesmoke; */
  border-radius: 10px;
  width: 320px;
  height: 120px;
}

button.pagination {
  width: 100px;
}

span.nav-readout {
  display: flex;
  align-items: center;
  margin: 5px;
}

li.workout.skeleton {
  background-color: black !important;
}

/** DASHBOARD */
div.dashboard-card {
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 250px;
  /* height: fit-content; */
  border-radius: 10px;
  border: 3px solid whitesmoke;
  position: relative;
}

header.dashboard-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
}

.dashboard-card-icon {
  font-size: 16pt;
}

header.dashboard-card h3 {
  padding: 5px 10px;
  font-weight: 600;
  font-size: 14pt;
}

.dashboard-card-body {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dashboard-card-value-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

span.dashboard-card-value {
  width: fit-content;
  text-align: center;
  font-family: "oswald";
  font-size: calc(3rem - 0.03rem * var(--char-count));
}

.dashboard-card-desc-container {
  display: flex;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  padding: 2px 5px;
  justify-content: flex-start;
}

ul.dashboard-list {
  display: flex;
  max-width: 100%;
}

li.dashboard-list {
  margin: 10px;
}

* {
  /* border: 1px solid red; */
}


